<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="7ea17d1c-b6ec-466d-b868-1ff572c286b5" type="text/javascript"></script>
    
<!-- Google Tag Manager -->
<script data-cookieconsent="ignore">
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(
j,f);
})(window,document,'script','dataLayer','GTM-NQ4WFQ8');
</script>
<!-- End Google Tag Manager -->
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    

    {% assign custom_canonical_url = '' %}

    {% if template == 'product' %}
      {% assign custom_canonical_url = product.metafields.custom.custom_canonical %}
    {% elsif template == 'collection' %}
      {% assign custom_canonical_url = collection.metafields.custom.custom_canonical %}
    {% elsif template == 'blog' %}
      {% assign custom_canonical_url = blog.metafields.custom.custom_canonical %}
    {% elsif template == 'article' %}
      {% assign custom_canonical_url = article.metafields.custom.custom_canonical %}
    {% elsif template contains 'page' %}
      {% assign custom_canonical_url = page.metafields.custom.custom_canonical %}
    {% endif %}

    {% if custom_canonical_url != '' and custom_canonical_url != blank %}
      <link rel="canonical" href="{{ custom_canonical_url | escape }}">
    {% else %}
      <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {% comment %}
        Removing store name from title tag to avoid redundancy
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {% endcomment %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script>
      window.customer = {% if customer %}{ email: '{{ customer.email }}', name: '{{ customer.first_name }}' }{% else %}null{% endif %};
      window.loyaltyPoints = '{{ customer.metafields.custom.loyalty_points }}';
    </script>
    
     {% comment %} <script>
      window.customer = { email: 'ba', name: 'daa'  };
      window.loyaltyPoints = 500;
    </script>  {% endcomment %}
    
    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'customapp.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'cookieManager.js' | asset_url }}" type="module" defer="defer"></script>

    {%- if settings.animations_reveal_on_scroll -%}
      <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {{ content_for_header }}
    {% render 'cookie-consent' %}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      {% for scheme in settings.color_schemes -%}
        {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
        {% if forloop.index == 1 -%}
          :root,
        {%- endif %}
        .color-{{ scheme.id }} {
          --color-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        {% if scheme.settings.background_gradient != empty %}
          --gradient-background: {{ scheme.settings.background_gradient }};
        {% else %}
          --gradient-background: {{ scheme.settings.background }};
        {% endif %}

        {% liquid
          assign background_color = scheme.settings.background
          assign background_color_brightness = background_color | color_brightness
          if background_color_brightness <= 26
            assign background_color_contrast = background_color | color_lighten: 50
          elsif background_color_brightness <= 65
            assign background_color_contrast = background_color | color_lighten: 5
          else
            assign background_color_contrast = background_color | color_darken: 25
          endif
        %}

        --color-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-background-contrast: {{ background_color_contrast.red }},{{ background_color_contrast.green }},{{ background_color_contrast.blue }};
        --color-shadow: {{ scheme.settings.shadow.red }},{{ scheme.settings.shadow.green }},{{ scheme.settings.shadow.blue }};
        --color-button: {{ scheme.settings.button.red }},{{ scheme.settings.button.green }},{{ scheme.settings.button.blue }};
        --color-button-text: {{ scheme.settings.button_label.red }},{{ scheme.settings.button_label.green }},{{ scheme.settings.button_label.blue }};
        --color-secondary-button: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-secondary-button-text: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-link: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-badge-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-badge-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-badge-border: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --payment-terms-background-color: rgb({{ scheme.settings.background.rgb }});
      }
      {% endfor %}

      {{ scheme_classes | prepend: 'body' }} {
        color: var(--almost-black);
        background-color: rgb(var(--color-background));
      }

      :root {
        --almost-black: #202429;
        --headers-black: #394047;
        --antracite: #5C6670;
        --antracite-muted: rgba(92, 102, 112, 0.15);
        --silver: #202429;
        --hr-silver: #DEE0E2;
        --off-white: #F7F8F8;

        --width-narrow: 720px;
        --body-padding: 20px;

        --font-body-family: 'neue_montrealregular', {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

        --font-heading-family: 'neue_montrealregular', {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --media-padding: {{ settings.media_padding }}px;
        --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
        --media-border-width: {{ settings.media_border_thickness }}px;
        --media-radius: {{ settings.media_radius }}px;
        --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
        --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
        --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
        --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;
        --media-shadow-visible: {% if settings.media_shadow_opacity > 0 %}1{% else %}0{% endif %};

        --page-width: 1380px;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --product-card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
        --product-card-corner-radius: {{ settings.card_corner_radius | divided_by: 10.0 }}rem;
        --product-card-text-alignment: {{ settings.card_text_alignment }};
        --product-card-border-width: {{ settings.card_border_thickness | divided_by: 10.0 }}rem;
        --product-card-border-opacity: {{ settings.card_border_opacity | divided_by: 100.0 }};
        --product-card-shadow-opacity: {{ settings.card_shadow_opacity | divided_by: 100.0 }};
        --product-card-shadow-visible: {% if settings.card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --product-card-shadow-horizontal-offset: {{ settings.card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-vertical-offset: {{ settings.card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-blur-radius: {{ settings.card_shadow_blur | divided_by: 10.0 }}rem;

        --collection-card-image-padding: {{ settings.collection_card_image_padding | divided_by: 10.0 }}rem;
        --collection-card-corner-radius: {{ settings.collection_card_corner_radius | divided_by: 10.0 }}rem;
        --collection-card-text-alignment: {{ settings.collection_card_text_alignment }};
        --collection-card-border-width: {{ settings.collection_card_border_thickness | divided_by: 10.0 }}rem;
        --collection-card-border-opacity: {{ settings.collection_card_border_opacity | divided_by: 100.0 }};
        --collection-card-shadow-opacity: {{ settings.collection_card_shadow_opacity | divided_by: 100.0 }};
        --collection-card-shadow-visible: {% if settings.collection_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --collection-card-shadow-horizontal-offset: {{ settings.collection_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-vertical-offset: {{ settings.collection_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-blur-radius: {{ settings.collection_card_shadow_blur | divided_by: 10.0 }}rem;

        --blog-card-image-padding: {{ settings.blog_card_image_padding | divided_by: 10.0 }}rem;
        --blog-card-corner-radius: {{ settings.blog_card_corner_radius | divided_by: 10.0 }}rem;
        --blog-card-text-alignment: {{ settings.blog_card_text_alignment }};
        --blog-card-border-width: {{ settings.blog_card_border_thickness | divided_by: 10.0 }}rem;
        --blog-card-border-opacity: {{ settings.blog_card_border_opacity | divided_by: 100.0 }};
        --blog-card-shadow-opacity: {{ settings.blog_card_shadow_opacity | divided_by: 100.0 }};
        --blog-card-shadow-visible: {% if settings.blog_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --blog-card-shadow-horizontal-offset: {{ settings.blog_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-vertical-offset: {{ settings.blog_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-blur-radius: {{ settings.blog_card_shadow_blur | divided_by: 10.0 }}rem;

        --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;

        --popup-border-width: {{ settings.popup_border_thickness }}px;
        --popup-border-opacity: {{ settings.popup_border_opacity | divided_by: 100.0 }};
        --popup-corner-radius: {{ settings.popup_corner_radius }}px;
        --popup-shadow-opacity: {{ settings.popup_shadow_opacity | divided_by: 100.0 }};
        --popup-shadow-horizontal-offset: {{ settings.popup_shadow_horizontal_offset }}px;
        --popup-shadow-vertical-offset: {{ settings.popup_shadow_vertical_offset }}px;
        --popup-shadow-blur-radius: {{ settings.popup_shadow_blur }}px;

        --drawer-border-width: {{ settings.drawer_border_thickness }}px;
        --drawer-border-opacity: {{ settings.drawer_border_opacity | divided_by: 100.0 }};
        --drawer-shadow-opacity: {{ settings.drawer_shadow_opacity | divided_by: 100.0 }};
        --drawer-shadow-horizontal-offset: {{ settings.drawer_shadow_horizontal_offset }}px;
        --drawer-shadow-vertical-offset: {{ settings.drawer_shadow_vertical_offset }}px;
        --drawer-shadow-blur-radius: {{ settings.drawer_shadow_blur }}px;

        --spacing-sections-desktop: {{ settings.spacing_sections }}px;
        --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}{% else %}{{ settings.spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px;

        --grid-desktop-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
        --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
        --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical | divided_by: 2 }}px;
        --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 2 }}px;

        --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
        --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px;
        --text-boxes-radius: {{ settings.text_boxes_radius }}px;
        --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by: 100.0 }};
        --text-boxes-shadow-visible: {% if settings.text_boxes_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
        --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
        --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px;

        --buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
        --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
        --buttons-shadow-visible: {% if settings.buttons_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
        --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
        --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
        --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

        --inputs-radius: {{ settings.inputs_radius }}px;
        --inputs-border-width: {{ settings.inputs_border_thickness }}px;
        --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
        --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
        --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
        --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}{{ settings.inputs_shadow_vertical_offset | abs }}{% else %}0{% endif %}px;
        --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
        --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
        --inputs-radius-outset: {% if settings.inputs_radius > 0 %}{{ settings.inputs_radius | plus: settings.inputs_border_thickness }}{% else %}0{% endif %}px;

        --variant-pills-radius: {{ settings.variant_pills_radius }}px;
        --variant-pills-border-width: {{ settings.variant_pills_border_thickness }}px;
        --variant-pills-border-opacity: {{ settings.variant_pills_border_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-opacity: {{ settings.variant_pills_shadow_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-horizontal-offset: {{ settings.variant_pills_shadow_horizontal_offset }}px;
        --variant-pills-shadow-vertical-offset: {{ settings.variant_pills_shadow_vertical_offset }}px;
        --variant-pills-shadow-blur-radius: {{ settings.variant_pills_shadow_blur }}px;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
    {% endstyle %}

    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'dermacare.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}

    {%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
      {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
      <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if settings.predictive_search_enabled -%}
      <link
        rel="stylesheet"
        href="{{ 'component-predictive-search.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/GCrwKmtHLsMvsiuGpxThfZ1r1CVfRHEqfu8wDMft?languageCode=hr" async></script>


{%- liquid
  assign suffixes_string = "facemapping"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-skin"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-bright"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-calm"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-clear"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-firm"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-teen"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-eye-flash"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-power-peel"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-microneedling"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-nanoneedling"
  assign suffixes_string = suffixes_string | append: ", " | append: "pro-luminfusion"
  assign suffixes_string = suffixes_string | append: ", " | append: "hydra-beauty"
  assign suffixes_string = suffixes_string | append: ", " | append: "ipl-tretman"
  assign suffixes_string = suffixes_string | append: ", " | append: "hifu"
  assign suffixes_string = suffixes_string | append: ", " | append: "rf-microneedling"
  assign suffixes_string = suffixes_string | append: ", " | append: "sminkanje"
  assign suffixes = suffixes_string | split: ', '
-%}
{%- if template.name == 'page' and suffixes contains template.suffix -%}
{%- liquid
  assign names_string = "Facemapping"
  assign names_string = names_string | append: ", " | append: "Pro Skin"
  assign names_string = names_string | append: ", " | append: "Pro Bright"
  assign names_string = names_string | append: ", " | append: "Pro Calm"
  assign names_string = names_string | append: ", " | append: "Pro Clear"
  assign names_string = names_string | append: ", " | append: "Pro Firm"
  assign names_string = names_string | append: ", " | append: "Pro Teen"
  assign names_string = names_string | append: ", " | append: "Pro Eye Flash"
  assign names_string = names_string | append: ", " | append: "Pro Power Peel"
  assign names_string = names_string | append: ", " | append: "Pro Microneedling"
  assign names_string = names_string | append: ", " | append: "Pro Nanoinfussion"
  assign names_string = names_string | append: ", " | append: "Pro Luminfusion"
  assign names_string = names_string | append: ", " | append: "Hydra Beauty"
  assign names_string = names_string | append: ", " | append: "IPL Tretman"
  assign names_string = names_string | append: ", " | append: "HIFU"
  assign names_string = names_string | append: ", " | append: "RF Microneedling"
  assign names_string = names_string | append: ", " | append: "Šminkanje"
  assign treatment_names = names_string | split: ', '

  assign desc_string = "Profesionalni terapeut utvrđuje promjene na koži, određuje njen tip, stanje i problematiku te ih povezuje sa vašim životnim navikama, zdravstvenim tegobama, beauty rutinom i svime što bi moglo utjecati na zdravlje i izgled kože."
  assign desc_string = desc_string | append: ";#; " | append: "Personalizirani tretman kreiran prema potrebi kože, Pro Skin tretman donosi dubinski njeguje, zaglađuje i hidratizira te pruža trenutnu blistavost. Terapeut, nakon analize, tretman prilagođava trenutnim potrebama kože. Može uključivati primjenu mikrodermoabrazije ili LED terapije."
  assign desc_string = desc_string | append: ";#; " | append: "U tri ključna koraka korištenjem sastojaka kao što su mliječna kiselina, vitamin C, niacinamid i heksilrezorcinol, Pro Bright tretman djeluje na posvjetljivanje svih vrsta hiperpigmentacija i donosi trenutnu svježinu i blistavost."
  assign desc_string = desc_string | append: ";#; " | append: "Obnavljajući tretman za osjetljivu kožu djeluje na niz problema uključujući ekcem, rozaceu, psorijazu i vidljivo crvenilo. Dubinski hidratizira, zaglađuje neujednačenu teksturu i obnavlja barijeru. Tretman je prilagođen razini osjetljivosti kože."
  assign desc_string = desc_string | append: ";#; " | append: "Profesionalni tretman čišćenja lica ciljano djeluje na umirivanje upalnih procesa, pročišćavanje izbijanja i posvjetljivanje postupalnih hiperpigmentacija. Balansiranjem mikrobioma kože postižemo pročišćen i zaglađen ten te smanjujemo lučenje sebuma."
  assign desc_string = desc_string | append: ";#; " | append: "Zagladite, smanjite vidljivost bora i poboljšajte tonus kože i mišića ovim jedinstvenim tretmanom predviđenim za zrelu kožu. Dubinskom njegom potiče se obnova kože, zaglađuje se tekstura a posebnom tehnikom masaže postiže se učinak liftinga."
  assign desc_string = desc_string | append: ";#; " | append: "Tretman prilagođen nježnoj, problematičnoj koži tinejdžera - temeljito pročišćavanje akni, mitesera i upalnih procesa. Ciljano djeluje na umirivanje upale, pročišćavanje začepljenja i posvjetljivanje postupalnih hiperpigmentacija."
  assign desc_string = desc_string | append: ";#; " | append: "Snažan ciljani tretman tonira, zaglađuje i posvjetljuje područje oko očiju intenzivnom stimulacijom i infuzijom biljnih sastojaka."
  assign desc_string = desc_string | append: ";#; " | append: "Personalizirani tretman u kojem kombinacijom triju kiselina, a ovisno o stanju kože osiguravamo dubinski piling i potpunu regeneraciju."
  assign desc_string = desc_string | append: ";#; " | append: "Profesionalni tretman mikroiglicama za smanjanje bora, ožiljaka i hiperpigmentacija uključuje jedinstvenu kombinaciju kemijskog pilinga i tehnike microneedlinga. Tretman se provodi po klinički ispitanom protokolu brenda Dermalogica te koži donosi sjaj, sužava pore, smanjuje fine linije i bore i ujednačava ten.. Nakon tretmana klijent dobiva Pro restore koncentrat za učvršćivanje i umirenje kao potporu za obnovu kože u kućnoj njezi."
  assign desc_string = desc_string | append: ";#; " | append: "Korištenjem Dermalogica Pro Pen uređaja i profesionalnih seruma Pro Nanoinfussion tretman je kojim se postiže zaglađivanje kože, sjaj i hidratacija – bez vremena oporavka nakon tretmana! Idealan kao alternativa Pro Microneedling tretmanu u ljetnim mjesecima ili za izuzetno osjetljivu i reaktivnu kožu."
  assign desc_string = desc_string | append: ";#; " | append: "LuminFusion je napredni neiznvazivni tretman koji objedinjuje nanoinfuziju kemijskog pilinga s retinolom i LED terapiju crvenim svijetlom za zaglađivanje teksture i postizanje blistavog tena. Rezultati su vidljivi odmah!"
  assign desc_string = desc_string | append: ";#; " | append: "Sveobuhvatni tretman u tri koraka objedinjuje mikrodermoabraziju, infuziju AHA i BHA kiselina te LED terapiju. Postignite besprijekorno blistavu i zaglađenu kožu. Za dubinsko čišćenje pora preporuča se Pro Extraction dodatak tretmanu (mehaničko istiskivanje)."
  assign desc_string = desc_string | append: ";#; " | append: "Terapija intenzivnim pulsirajućim svijetlom (IPL) za fotopomlađivanje, uklanjanje hiperpigmentacija, kapilara i neželjenih dlačica."
  assign desc_string = desc_string | append: ";#; " | append: "HIFU (High Intensity Focused Ultrasound) obnavlja vezivno tkivo, kolagen i elastin. Proces samoobnove kože počinje unutar tri mjeseca nakon tretmana, a rezultati su vidljivi do dvije godine. Smanjuje masne naslage i postiže učinak liftinga."
  assign desc_string = desc_string | append: ";#; " | append: "Tretman uklanjanja ožiljaka od akni, hiperpigmentacija i bora uređajem koji kombinira tehniku microneedlinga s radiofrekvencijom. Snažniji oblik microneedlinga uz dodatak radiofrekventne struje koji pomaže u smanjenju bora i finih linija, posvjetljivanju hiperpigmentacija i uklanjanju ožiljaka. Tretmanom se potiče se obnova kolagena i elastina za zaglađen i ujednačen ten."
  assign desc_string = desc_string | append: ";#; " | append: "Posjetite naše DermaCare centre i upoznajte se s brendom Jane Iredale prepuštajući se u ruke naših educiranih vizažista. Mineralnim makeupom postići će dugotrajan i postojan look a njegujući sastojci proizvoda na kožu će djelovati umirujuće i štititi ju od vanjskih utjecaja cijeli dan. Maturalna zabava, važan sastanak ili vjenčani makeup? Naše vizažistice i mineralna kozmetika mogu sve!"
  assign descriptions = desc_string | split: ';#; '

  assign url_string = shop.url | append:"/cdn/shop/files/facemapping.jpg?v=1708539150&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/Proskin_TRETMANI.jpg?v=1708630686&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/probright_slika.jpg?v=1708630715&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/pro-calm-tretman-dermacare.jpg?v=1720595886&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/Pro-clear-tretman-dermacare-naslovna.jpg?v=1720596070&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/Profirm_and_neck_Header_a84ba46a-416f-4bf7-87f5-1077110b91a7.jpg?v=1720596585&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/pro-teen-tretman-dermacare-naslovna.jpg?v=1720596880&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/pro-eye-flash-dermacare-tretman-naslovna.jpg?v=1720597008&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/pro-power-peel-dermacare-tretman-naslovna.jpg?v=1720597156&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/pro-microneedling-dermacare-tretman-naslovna.jpg?v=1720600522&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/pro-nanoinfusion-dermacare-tretman-naslovna.jpg?v=1720603185&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/pro-luminfusion-tretman-dermacare-naslovna.webp?v=1720604545&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/hydra-beauty-tretman-naslovna-dermacare.webp?v=1720607372&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/ipl-dermacare-tretman-naslovna.jpg?v=1720607539&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/hifu-dermacare-tretman-naslovna.jpg?v=1720608138&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/rf-microneedling-dermacare-tretman-naslovna.jpg?v=1720617679&width=500"
  assign url_string = url_string | append: "; " | append: shop.url | append:"/cdn/shop/files/sminkanje-usluge-dermacare-jane-iredale.png?v=1722608139&width=500"
  assign urls = url_string | split: '; '

  assign price_string = "0"
  assign price_string = price_string | append: ", " | append: "5000"
  assign price_string = price_string | append: ", " | append: "9000"
  assign price_string = price_string | append: ", " | append: "7000"
  assign price_string = price_string | append: ", " | append: "7000"
  assign price_string = price_string | append: ", " | append: "9000"
  assign price_string = price_string | append: ", " | append: "7000"
  assign price_string = price_string | append: ", " | append: "2500"
  assign price_string = price_string | append: ", " | append: "13500"
  assign price_string = price_string | append: ", " | append: "13500"
  assign price_string = price_string | append: ", " | append: "13500"
  assign price_string = price_string | append: ", " | append: "11000"
  assign price_string = price_string | append: ", " | append: "9000"
  assign price_string = price_string | append: ", " | append: "3000"
  assign price_string = price_string | append: ", " | append: "12000"
  assign price_string = price_string | append: ", " | append: "8000"
  assign price_string = price_string | append: ", " | append: "6000"
  assign prices = price_string | split: ', '

assign index = -1
  for element in suffixes
    if(element == template.suffix)
      assign index = forloop.index0
      break
    endif
  endfor
-%}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": {{ treatment_names[index] | json }},
  "image": {{ urls[index] | json }},
  "description": {{ descriptions[index] | json }},
  "brand": {
    "@type": "Brand",
    "name": "DermaCare"
  },
  "sku": {{ suffixes[index] | json }},
  "offers": {
    "@type": "Offer",
    "url": {{ shop.url | append: "/pages/" | append: suffixes[index] | json }},
    "priceCurrency": "EUR",
    "price": {{ prices[index] | divided_by: 100.0 | json }},
    "availability": "https://schema.org/InStock",
    "itemCondition": "https://schema.org/NewCondition"
  }
}
</script>
{%- endif -%}

  {%- if request.page_type == 'product' or request.page_type == 'collection' -%}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/", 
        "@type": "BreadcrumbList",
        "itemListElement": [{
          "@type": "ListItem",
          "position": 1,
          "name": "Dermacare",
          "item": {{ shop.url | json }}
        }
        {%- if request.page_type == 'collection' -%}
        ,{
          "@type": "ListItem",
          "position": 2,
          "name": {{ collection.title | json }},
          "item": {{ shop.url | append: collection.url | json }}
        }
        {%- elsif request.page_type == 'product' -%}
        ,{
          "@type": "ListItem",
          "position": 2,
          {%- for collection in product.collections %}
          "name": {{ collection.title | json }},
          "item": {{ shop.url | append: collection.url | json }}
          {% break -%}
          {%- endfor -%}
        }
        ,{
          "@type": "ListItem",
          "position": 3, 
          "name": {{ product.title | json }},
          "item": {{ shop.url | append: product.url | json }}  
        }
        {%- endif -%}
        ]
      }
    </script>
  {%- endif -%}

{%- liquid
      if product.selected_or_first_available_variant.featured_media
        assign seo_media = product.selected_or_first_available_variant.featured_media
      else
        assign seo_media = product.featured_media
      endif
-%}

{%- if request.page_type == 'product' -%}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/", 
    "@type": "Product", 
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
    "image": {{ seo_media | image_url | prepend: "https:" | json }},
    {%- endif %}
    "sku": {{ product.id | json }},
    "description": {{ product.description | strip_html | split: '
' | first | json }},
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": {
      "@type": "Offer",
      "url": {{ shop.url | append: product.url | json }},
      "priceCurrency": "EUR",
      "price": {{ product.price | divided_by: 100.0 | json }},
      {% if product.available -%}
      "availability": "https://schema.org/InStock"
      {%- else -%}
      "availability": "https://schema.org/OutOfStock"
      {%- endif %}
    }
  }
  </script>
{%- if product.options.size > 1 -%}
  <script type="application/ld+json">
    {
      "ERROR: Product has more than one option" : {{ product.options }}
    }
  </script>
{%- elsif product.options.size == 1 and product.variants.size > 1 -%}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "ProductGroup",
      "name": {{ product.title | json }},
      "description": {{ product.description | strip_html | split: '
' | first | json }},
      "url": {{ shop.url | append: product.url | json }},
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "productGroupID": {{ product.title | json }},
      "variesBy": [
        {%- if product.options contains "Nijansa" -%}
        "https://schema.org/color"
        {%- elsif product.options contains "Veličina" -%}
        "https://schema.org/size"
        {%- else -%}
        {{ product.options.first }}
        {%- endif -%}
      ],
      "hasVariant": [
        {% for variant in product.variants -%}
        {
            "@type": "Product",
            "sku": {{ variant.sku | json }},
            {% if seo_media -%}
            "image": {{ seo_media | image_url | prepend: "https:" | json }},
            {%- endif %}
            "name": {{ product.title | append: " - " | append: variant.title | json }},
            "description": {{ product.description | strip_html | split: '
' | first | json }},
            {%- if product.options contains "Nijansa" %}
            "color": {{ variant.title | json }},
            {% elsif product.options contains "Veličina" %}
            "size": {{ variant.title | remove: "ref" | strip | json }},
            {% else %}
            "variable": {{ product.options.first | json }}
            {%- endif -%}
            "offers": {
                "@type": "Offer",
                "url": {{ shop.url | append: product.url | append: "?variant=" | append: variant.id | json }},
                "priceCurrency": "EUR",
                "price": {{ variant.price | divided_by: 100.0 | json }},
                "itemCondition": "https://schema.org/NewCondition",
                {% if variant.available -%}
                "availability": "https://schema.org/InStock"
                {%- else -%}
                "availability": "https://schema.org/OutOfStock"
                {%- endif %}
            }
        }
        {%- unless forloop.last -%},{%- endunless -%}
        {%- endfor %}
      ]
    }
</script>
{%- endif -%}
{%- endif -%}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HealthAndBeautyBusiness",
  "name": "DermaCare",
  "image": {{ shop.url | append:"/cdn/shop/files/dermacare_logo.svg" | json }},
  "@id": {{ shop.url | append:"/" | json }},
  "url": {{ shop.url | append:"/" | json }},
  "priceRange": "$$$",
  "email": "info@dermacare.hr",
  "department": [{
    "@type": "BeautySalon",
    "name": "DermaCare centar Arena Centar",
    "image": {{ shop.url | append:"/cdn/shop/files/ARENA_1.jpg" | json }},
    "telephone": "+38516529944",
    "email": "arena@dermacare.hr",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Ul. Vice Vukova 6",
        "addressLocality": "Zagreb",
        "postalCode": "10000",
        "addressCountry": "HR"
      },
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "09:00",
      "closes": "21:00"
    }
  },{
    "@type": "BeautySalon",
    "name": "DermaCare centar Teslina",
    "image": {{ shop.url | append:"/cdn/shop/files/TESLINA_1.jpg" | json }},
    "telephone": "+38514833208",
    "email": "teslina@dermacare.hr",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Teslina ulica 12",
        "addressLocality": "Zagreb",
        "postalCode": "10000",
        "addressCountry": "HR"
      },
    "openingHoursSpecification": [{
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "09:00",
      "closes": "20:00"
    },{
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "09:00",
      "closes": "15:00"
    }]
  },{
    "@type": "BeautySalon",
    "name": "DermaCare centar CityCenterOneWest",
    "image": {{ shop.url | append:"/cdn/shop/files/citycentarwest.jpg" | json }},
    "telephone": "+38514819148",
    "email": "ccw@dermacare.hr",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Jankomir 33",
        "addressLocality": "Zagreb",
        "postalCode": "10000",
        "addressCountry": "HR"
      },
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "09:00",
      "closes": "21:00"
    }
  },{
    "@type": "BeautySalon",
    "name": "DermaCare centar Split",
    "image": {{ shop.url | append:"/cdn/shop/files/dermacare_split.jpg" | json }},
    "telephone": "+3852136031",
    "email": "split@dermacare.hr",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Domaldova 5",
        "addressLocality": "Split",
        "postalCode": "21000",
        "addressCountry": "HR"
      },
    "openingHoursSpecification": [{
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Wednesday",
        "Tuesday",
        "Thursday",
        "Friday"
      ],
      "opens": "08:00",
      "closes": "20:30"
    },{
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "08:00",
      "closes": "14:00"
    }]
  },{
    "@type": "BeautySalon",
    "name": "DermaCare centar Rijeka",
    "image": {{ shop.url | append:"/cdn/shop/files/rijeka.jpg" | json }},
    "telephone": "+385998185667",
    "email": "rijeka@dermacare.hr",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Adamićeva ulica 30",
        "addressLocality": "Rijeka",
        "postalCode": "51000",
        "addressCountry": "HR"
      },
    "openingHoursSpecification": [{
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Wednesday",
          "Tuesday",
          "Thursday",
          "Friday"
        ],
        "opens": "08:00",
        "closes": "20:00"
      },{
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": "Saturday",
        "opens": "08:00",
        "closes": "15:00"
      }] 
  }]
}
</script>

  {% include 'kart_discount' %}</head>

  <body
    class="gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}"
  >
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQ4WFQ8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {% comment %}
      Define arrays of templates that should use specific header groups
    {% endcomment %}

    {% assign dxc_templates = 'page.dermacare-experience,product.tretman,page.tretmani-contact,collection.tretmani-collection' | split: ',' %}
    {% assign default_templates = 'index' | split: ',' %}

    {% comment %}
      Check which header group to render based on current template
    {% endcomment %}

    {% if dxc_templates contains template %}
      {% sections 'header-dxc-group' %}
    {% else %}
      {% sections 'header-group' %}
    {% endif %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
      };

      window.quickOrderListStrings = {
        itemsAdded: `{{ 'sections.quick_order_list.items_added.other' | t: quantity: '[quantity]' }}`,
        itemAdded: `{{ 'sections.quick_order_list.items_added.one' | t: quantity: '[quantity]' }}`,
        itemsRemoved: `{{ 'sections.quick_order_list.items_removed.other' | t: quantity: '[quantity]' }}`,
        itemRemoved: `{{ 'sections.quick_order_list.items_removed.one' | t: quantity: '[quantity]' }}`,
        viewCart: `{{- 'sections.quick_order_list.view_cart' | t -}}`,
        each: `{{- 'sections.quick_order_list.each' | t: money: '[money]' }}`,
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
        recipientFormExpanded: `{{ 'recipient.form.expanded' | t }}`,
        recipientFormCollapsed: `{{ 'recipient.form.collapsed' | t }}`,
        countrySelectorSearchCount: `{{ 'localization.country_results_count' | t: count: '[count]' }}`,
      };
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {{ 'customapp.css' | asset_url | stylesheet_tag }}
  </body>
</html>
