{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

{{ 'quick-add.css' | asset_url | stylesheet_tag }}
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% comment %} get current page metafield skin_type {% endcomment %}
{%- assign skin_type = page.metafields.custom.skin_type.value -%}
{% assign filtered_products = '' %}

{% for product in collections.all.products %}
  {% assign metafield_value = product.metafields.custom.skin_conditions.value %}

  {% comment %} {{ metafield_value | json }} {% endcomment %}

  {% if metafield_value %}
    {% assign match_found = false %}
    {% for metaobject in metafield_value %}
      {% if metaobject.code == skin_type %}
        {% comment %} {{ metaobject.type }} {% endcomment %}
        {% assign match_found = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if match_found %}
      {% assign filtered_products = filtered_products | append: product.handle | append: ',' %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign filtered_products_array = filtered_products | split: ',' %}
{% assign filtered_products_array = filtered_products_array | where: 'size', '>', 0 %}

{% assign filtered_blog_posts = '' %}
{% for article in blogs.novosti.articles %}
  {% assign blog_metafield_value = article.metafields.custom.skin_conditions.value %}

  {% if blog_metafield_value %}
    {% assign blog_match_found = false %}
    {% for metaobject in blog_metafield_value %}
      {% if metaobject.code == skin_type %}
        {% comment %} {{ metaobject.type }} {% endcomment %}
        {% assign blog_match_found = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if blog_match_found %}
      {% assign filtered_blog_posts = filtered_blog_posts | append: article.handle | append: ',' %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign filtered_blog_posts_array = filtered_blog_posts | split: ',' %}
{% assign filtered_blog_posts_array = filtered_blog_posts_array | where: 'size', '>', 0 %}

<section class="mx-[20px] our-recommendations">
  <div class="skin-types-buttons lg:border-b flex flex-col lg:flex-row justify-between lg:mt-10 lg:pt-20 mb-[50px] lg:mx-0 ">
    <div class="flex flex-col justify-between">
      <h1>Naše preporuke</h1>
      <div>Odaberite stanje i pronađite odgovarajuće proizvode i savjete</div>
      <div class="flex gap-2 mt-[50px] text-[16px]">
        {% if filtered_products_array.size > 0 %}
          <a href="#skin_type_products">
            <div class="bg-off-white lg:w-auto py-2 px-4 rounded-md whitespace-nowrap">
              {{ filtered_products_array.size }} Proizvoda
            </div>
          </a>
        {% endif %}
        {% if filtered_blog_posts_array.size > 0 %}
          <a href="#skin_type_articles">
            <div class="bg-off-white lg:w-auto py-2 px-4 rounded-md whitespace-nowrap">
              {{ filtered_blog_posts_array.size }} Savjeta
            </div>
          </a>
        {% endif %}
      </div>
    </div>
    <slider-component class="slider-mobile-gutter">
      <div class="lg:divide-x skin-types-listing slider slider--tablet">
        {% for skin in shop.metaobjects.skin_type.values %}
          <a
            href="{{ skin.url.value.url }}"
            class="lg:h-[135px]"
          >
            <div class="skin-type-item {% if skin_type==skin.code %}skin-type-button-active{% endif %}">
              <div><img src="{{ skin.icon | image_url }}"></div>
              <div>{{ skin.type }}</div>
              {{ skin.gid }}
            </div>
          </a>
        {% endfor %}
      </div>
    </slider-component>
  </div>

  {% if filtered_products_array.size > 0 %}
    <div id="skin_type_products">
      <h3 class="mb-[30px]">Proizvodi ({{ filtered_products_array.size }})</h3>
      <ul class="grid product-grid contains-card contains-card--product contains-card--standard grid--4-col-desktop grid--2-col-tablet-down slider slider--tablet grid--peek">
        {% for product_id in filtered_products_array %}
          {% assign product = all_products[product_id] %}
          {% comment %} {{ product_id }} {% endcomment %}
          {% comment %} {{ product }} {% endcomment %}
          <li class="grid__item relative slider__slide scroll-trigger animate--slide-in">
            {% render 'card-product', card_product: product, show_quick_add: true %}
            {% comment %} <a href="{{ product.url }}">{{ product.title }}</a> {% endcomment %}
          </li>
        {% endfor %}
      </ul>

      {% comment %} <div id="our_recommendation_root"></div> {% endcomment %}
    </div>
  {% endif %}

  {% if filtered_blog_posts_array.size > 0 %}
    <div id="skin_type_articles" class="mt-[80px] skin-type-blog-listing">
      <h3 class="mb-[30px]">Savjeti ({{ filtered_blog_posts_array.size }})</h3>

      <ul
        class="blog__posts articles-wrapper contains-card contains-card--article contains-card--standard !grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 slider slider--tablet"
        role="list"
      >
        {% for post_handle in filtered_blog_posts_array %}
          {% comment %} {% assign product = all_products[product_id] %} {% endcomment %}
          {% for a in blogs.novosti.articles %}
            {% if a.handle == post_handle %}
              {% assign article = a %}
              <li class="blog__post article slider__slide slider__slide--full-width scroll-trigger animate--slide-in">
                {% render 'article-card',
                  blog: blogs.novosti,
                  article: article,
                  media_aspect_ratio: 1.66,
                  show_image: true,
                  show_date: false,
                  show_author: false,
                  show_excerpt: true
                %}
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Our recommendation",
  "tag": "section",
  "class": "section section-our-recommendation",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Our recommendation"
    }
  ]
}
{% endschema %}
