<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="page-width people-section layout-width-{{ section.settings.layout_width }}">
    <h2>{{ section.settings.title }}</h2>
    <div class="twgrid grid-cols-1 lg:grid-cols-2 gap-20 mt-10">
      {%- for block in section.blocks -%}
        <div class="flex flex-col gap-4 border-b pb-10">
          <div class="avatar">
            <img width="150" height="150" src="{{ block.settings.person_image | image_url: width: 200 }}">
          </div>
          <div>
            {{ block.settings.person_name }}
            <div class="text-[12px]">{{ block.settings.person_position }}</div>
          </div>
          <div>{{ block.settings.person_description }}</div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "People",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Our team",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "person",
      "name": "Person",
      "settings": [
        {
          "type": "image_picker",
          "id": "person_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "person_name",
          "default": "Name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "person_position",
          "default": "Position",
          "label": "Position"
        },
        {
          "type": "richtext",
          "id": "person_description",
          "default": "<p>Description</p>",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "People",
      "blocks": []
    }
  ]
}
{% endschema %}
