<div class="custom-text-{{ section.id }} section-{{ section.id }}-padding flex {{ section.settings.content_justify }}">
  <div class="isolate layout-width-{{ section.settings.layout_width }}">
    {{ section.settings.content }}
  </div>
</div>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "content_justify",
      "options": [
        {
          "value": "justify-start",
          "label": "Start"
        },
        {
          "value": "justify-center",
          "label": "Center"
        },
        {
          "value": "justify-end",
          "label": "End"
        }
      ],
      "default": "justify-center",
      "label": "Justify Content",
      "info": ""
    },
    {
      "type": "select",
      "id": "layout_width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Desktop layout width",
      "info": "Content container width on desktop"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Text",
      "blocks": []
    }
  ]
}
{% endschema %}
